*, *:Before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    background-image: url(../img/digimon-portada-2.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}

.titulo {
    text-align: center;
}


/* Nav-Bar */

.navbar {
    background-color:rgba(30, 143, 255, 0.6);
}

.form-control {
    font-size: 1.5rem;
}

.form-control::placeholder {
    font-size: 1.5rem;
}

.nav-item {
    margin-right: 4rem;
    margin-left: 1rem;
}

.dropdown-item {
    font-size: 1.5rem;
}

/* TABLE */

h1 {
    font-size: 9rem;
    font-weight: bold;
    background-color: rgba(30, 143, 255, 0.705);
    color:rgb(239, 227, 113) ;
    margin: 15rem auto 0 auto;
    border-radius: 2rem;
    border: 0.4rem solid black;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px; /* Ancho del borde */
    -webkit-text-stroke-color: #000; 
    display: inline-block;
    padding: 0.5rem 2rem 0 2rem;

}


.table {
    background-color: rgba(30, 143, 255, 0.4);
    max-width: 90%;
    margin: 10rem auto;
}

.title-table {
    background-color: rgba(30, 143, 255, 0.9);
}