*, *:Before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background-image: url(../img/digimon-portada-2.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
}

.titulo {
    text-align: center;
}


/* Nav-Bar */

.navbar {
    background-color:rgba(30, 143, 255, 0.6);
}

.form-control {
    font-size: 1.5rem;
}

.form-control::placeholder {
    font-size: 1.5rem;
}

.nav-item {
    margin-right: 3rem;
    margin-left: 1rem;
    overflow-wrap: break-word;
}

.dropdown-item {
    font-size: 1.5rem;
}

.dropdown {
    margin-right: 0;
    overflow-wrap: break-word;
    display: inline-block;
}


/* TABLE */

h1 {
    max-width: 80%;
    font-size: 7rem;
    background-color: rgba(30, 143, 255, 0.705);
    color:rgb(239, 227, 113) ;
    margin: 12rem auto 0 auto;
    border-radius: 2rem;
    border: 0.4rem solid black;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px; /* Ancho del borde */
    -webkit-text-stroke-color: #000; 
    display: inline-block;
    padding: 0.5rem 2rem 0 2rem;

}


.table {
    background-color: rgba(30, 143, 255, 0.4);
    width: 70%;
    max-width: 94%;
    min-width: 60%;
    margin: 10rem auto;
}

.title-table {
    background-color: rgba(30, 143, 255, 0.9);
}

.nombre-digimon {
    max-width: 20rem;
    min-width: 10rem;
    overflow-wrap: break-word;
}

.imagen-miniatura {
    border-radius: 1rem;
}

/* DIGICARDS */

.card {
    margin: 6rem auto auto auto;
    border-radius: 1rem;
}

.estado {
    background-image: url(../img/fondo-matrix.gif);
    background-position: center;
    background-size: contain;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.card-body {
    margin-top: 8rem;
    max-width: 70%;
}

h3, h5 {
    text-align: center;
    margin-bottom: 2rem;
    color: #00ff41;
    -webkit-text-stroke-width: 2.5px; /* Ancho del borde */
    -webkit-text-stroke-color: #000;
    font-size: 3.5rem;
}

h5 {
    -webkit-text-stroke-width: 2px; /* Ancho del borde */
    font-size: 3rem;
}



.por-nivel {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedor-nivel {
    border-radius: 5rem;
    border-color: #000;
    border: 3px solid #000;
    margin-bottom: 3rem;
    background-color: #fff;
}

.imagen-nivel {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    margin: auto;
    display: inline-block;
}
.nombre {
    color: #000;
    background-color: #fff;
    padding-bottom: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    margin-bottom: 0;
}

@media (max-width: 765px) and (min-width: 421px) {
    body {
        font-size: 1.5rem;
    }

    .imagen-miniatura {
        width: 5rem;
    }

    h1 {
        font-size: 3rem;
        margin-top: 5rem;
    }

    .table {
        margin: 5rem auto;
    }

    .card {
        width: 50rem;
    }
}

@media (max-width: 420px) {
    body {
        font-size: 1.2rem;
    }

    .imagen-miniatura {
        width: 4rem;
        padding-right: 2px;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .table {
        margin: 2.5rem auto;
    }

}